/* set font to roboto */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

p {
  text-align: "justify";
}

.app-container {
  transition: opacity 0.3s ease;
}

.app-container * {
  transition: all 0.3s ease;
}

.example-container {
  transition: all 0.3s ease;
}